@font-face {
    font-family: "Octosquare";
    src: url("../assets/fonts/TT\ Octosquares\ Trial\ Compressed\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .font-octosquare {
    font-family: "Octosquare", sans-serif;
  }